# PostgreSQL. Versions 9.3 and up are supported.
#
# Install the pg driver:
#   gem install pg
# On macOS with Homebrew:
#   gem install pg -- --with-pg-config=/usr/local/bin/pg_config
# On Windows:
#   gem install pg
#       Choose the win32 build.
#       Install PostgreSQL and put its /bin directory on your path.
#
# Configure Using Gemfile
# gem "pg"
#
default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: leon_whishlist_development

test:
  <<: *default
  database: leon_whishlist_test

production:
  <<: *default
  database: leon_whishlist_production
  username: leon_whishlist
  password: <%= ENV["LEON_WHISHLIST_DATABASE_PASSWORD"] %>
